In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
# Replace with your SQL Server connection details
server = 'localhost'  # IP address and port of the Docker container
database = 'AdventureWorksDW2019_Dimension'
username = 'sa'
password = 'reallyStrongPwd123'

In [3]:
conn_str = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"

# Create an engine
engine = create_engine(conn_str)

In [4]:
# Connect to the database
connection = engine.connect()
print(connection)

<sqlalchemy.engine.base.Connection object at 0x10fc3bd60>

In [5]:
query = 'SELECT * FROM AdventureWorksDW2019_Dimension.dbo.AdventureWorksDWBuildVersion'
df = pd.read_sql(query, engine)

print(df.head(5))

       DBVersion             VersionDate
0  14.0.1000.169 2017-08-22 19:39:35.643

In [6]:
# Read the data from SQL Server into a DataFrame back again
with engine.connect() as connection:
    query = f"SELECT * FROM dbo.DimAccount"
    raw_data_to_be_transformed = pd.read_sql_query(query, connection)

In [7]:
raw_data_to_be_transformed

,AccountKey,ParentAccountKey,AccountCodeAlternateKey,ParentAccountCodeAlternateKey,AccountDescription,AccountType,Operator,CustomMembers,ValueType,CustomMemberOptions
0,1,NaN,1,NaN,Balance Sheet,None,~,None,Currency,None
1,2,1.0,10,1.0,Assets,Assets,+,None,Currency,None
2,3,2.0,110,10.0,Current Assets,Assets,+,None,Currency,None
3,4,3.0,1110,110.0,Cash,Assets,+,None,Currency,None
4,5,3.0,1120,110.0,Receivables,Assets,+,None,Currency,None
...,...,...,...,...,...,...,...,...,...,...
94,97,95.0,9520,9500.0,Units,Flow,~,None,Units,None
95,98,95.0,9530,9500.0,Average Unit Price,Balances,~,[Account].[Accounts].[Account Level 04].&[50]/...,Currency,None
96,99,95.0,9540,9500.0,Square Footage,Balances,~,None,Units,None
97,100,27.0,2220,2200.0,Current Installments of Long-term Debt,Liabilities,+,None,Currency,None
98,101,51.0,4200,4110.0,Trade Sales,Revenue,+,None,Currency,None